* {
    box-sizing: border-box;
}

body {
    background-color: #34495e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 1.25rem 0 0;
}

.game-container {
    padding: 1.25rem 1.875rem;
    position: relative;
    margin: auto;
    height: 21.875rem;
    width: 28.125rem;
}