* {
    box-sizing: border-box;
}

body {
    background-color: #34495e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 1.25rem 0 0;
}

.game-container {
    padding: 1.25rem 1.875rem;
    position: relative;
    margin: auto;
    height: 21.875rem;
    width: 28.125rem;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: .25rem;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}

.wrong-letters-container {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letters-container p {
    margin: 0 0 .3125rem 0;
}

.wrong-letters-container span {
    font-size: 1.5rem;
}

.word {
    display: flex;
    position: absolute;
    bottom: .625rem;
    left: 50%;
    transform: translateX(-50%);
}

.letter {
    border-bottom: .1875rem solid #2980b9;
    display: inline-flex;
    font-size: 1.875rem;
    align-items: center;
    justify-content: center;
    margin: 0 .1875rem;
    height: 3.125rem;
    width: 1.25rem;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background: #2980b9;
    border-radius: .3125rem;
    box-shadow: 0 .9375rem .625rem .1875rem rgba(0, 0, 0, 0.3);
    padding: 1.25rem;
    text-align: center;
}

.popup button {
    cursor: pointer;
    background-color: #fff;
    color: #2980b9;
    border: none;
    margin-top: 1.25rem;
    padding: .75rem 1.25rem;
    font-size: 1rem;

}

.popup button:active {
    transform: scale(0.95);
}

.popup button:focus {
    outline: none;
}

.notification-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: .625rem .625rem 0 0;
    padding: .9375rem 1.25rem;
    position: absolute;
    bottom: -3.125rem;
    transition: transform 0.3s ease-in-out;
}

.notification-container p {
    margin: 0;
}

.notification-container.show {
    transform: translateY(-3.125rem);
}

